body{
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif; 
  background-color: #f8f9fa;
  width: 100%;
    height: auto;
  
}
 
.leftside{
    margin-top: 15%;
    margin-left: 4%;
   font-size: 22px;
    text-align: center;
    margin-right: 0;
  

}
.rightside{
    display: flex;
    flex-direction: row;
    margin-left: 0;
    background-image: url(3.jpg);
    width: 1000px;
    height: 800px;
   background-repeat: no-repeat;
   background-position: right;
}
a{

    padding-left: 10px;
    padding-right: 10px;
}
.container{
    display: flex;
}
 .center{
    display: flex;
flex-direction: row;}

.icon{
    margin-left: 18%;
    width: 15px;
    height: 17px;
    
   }
   .pro{
    margin-top: 15%;
    font-size: larger;
    font-weight: bold;
    align-items: center;
   }
.designs{
   align-items: center;
    margin-top: 5%;
    margin-left: 0%;
    margin-bottom: 10%;
    padding: 10px;
    font-size: xx-large;
    background-color: #f8f9fa;
    display: flex;
    
   }


img{
    margin-top: 5%;
    background-color: #e9ecef;
    width: 300px;
    height: 200px;
       
}
.chairs{
    display: flex;
    margin-left: 5%;
    font-size: small;
}
.fonk{
    font-size: 13px;
    position: relative;
    top: 200px;
    left: 80px;
 
}
.sofa2{
    font-size: 13px;
    position: relative;
    top: 200px;
    left: 80px;
   
}
.double{
    font-size: 13px;
    position: relative;
     top: 200px;
    left: 80px; 
}

 .meets{
    display: flex;
    padding-left: 40px;
    padding-bottom: 50px;

}

h3{
    text-align: center;
    font-size: xx-large;   
}
label{
    display: flex;
}
.thirdpart{
    display: flex;
padding: 35px;
}
.twochairs{
    padding-left: 50px;
}

 .meet{
    font-size: small;
    font-weight:bold;
    position: relative;
    bottom: 45px;
    left: 10px;
}

.chairr{
    font-size: small;
    font-weight: bold;
    position: relative;
    bottom: 45px;
    left: 10px;
}
.bedy{
    font-size: small;
    font-weight: bold;
    position: relative;
    bottom: 45px;
    left: 10px;
}   

.myoffer{
    color: rgb(36, 219, 173);
    background-color: black;
 height: 300px;

}
.centerpart{
    display: flex;
}
.left{
    margin-top: 5%;
    margin-left: 4%;
   font-size: 22px;
    text-align: center;
    margin-right: 0;
}
.right{
    margin-top: 5%;
    background-position: right;
    background-image: url(long.jpg);
    background-repeat: no-repeat;
   
    width: 1000px;
    height: 500px;

}
.list{
    color: crimson;
}

.last{
    display: flex;
    color: antiquewhite;
    background-color: black;
    height: 350px;
    font-size: large; 
    
}
.lastpart{
    display: flex;
    font-weight: bold;
    
}
